# .env.example

# Database
DATABASE_URL="mysql://username:password@host:port/database"

# App URL (http://localhost:3000 for development)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Next Auth (required in production)
# NEXTAUTH_URL="https://your-app.vercel.app"
# NEXTAUTH_SECRET="your-secret-key"


AUTH_URL="http://localhost:3000"
AUTH_SECRET="your-secret-key"
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""